.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);  
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.containerMenu {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  background-color: #2222228a;
  width: 50%;
  height: 80%;
  border-radius: 5%;
  box-shadow: 0px 0px 10px #000000;
}

.lengthDiv, .SelectDiv {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.resultDiv {
  
  width: 90%;
  height: 10%;
  margin: 10%;
  border-radius: 3px;
  align-items: center;
  display: inline-flex;
  background-color: #222222bb;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #00000048;
  border: 1px solid #00000038;
}

.buttonResult {
  width: 10%;
  height: 90%;
  border-radius: 3px;
  cursor: pointer;
}

.textLengtDiv {
  font-size: 1.5rem;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  margin: 0;
	padding: 0;
	border: 0;
  margin-top: 2%;
}

.containerInput {
  display: flex;
  width: 15%;
  border: 1px solid #00000038;
  border-radius: 5px;
}

.lengtText {
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}

.labelText {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}

.buttonGen {
  width: 90%;
  height: 8%;
  background-color: #ffffff;
  border: 1px solid #00000038;
  cursor: pointer;
  margin-top: 6%;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #00000048;
  background-color:#222222bb;
  color: #ffffff;
}

.resultDisplay {
  color: #ffffff;
}